@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans+Caption:wght@400;700&family=Pacifico&family=Righteous&family=Saira+Condensed:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "PT Sans Caption", sans-serif;
 box-sizing: border-box;

}
::selection {
  background-color: #473e2f;
  color: #352e28;
}


.bg {
  background-color: #c0879351;
  color: #241c16;

}

  
  
  

h1 {
  font-size: 50px;
  font-family: "Pacifico", cursive;
  color: #352e28;
  isolation: isolate;
}

h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 10px;
  background-color: #bbef2c8c;
  transition: height 350ms;
  z-index: -1;
}

h1:hover::before {
  height: 50%;
}
.book-body {
  border-width: 2px 0 ;
  border-top-style: dashed;
  border-color: #4e2909;
  
}

.book-body h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.bolder{

  
    border-width: 2px 0 ;
    border-bottom-style: dashed;
    border-color: #4e2909;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #d99c39;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fec26055;
}


.box-real {
  width: 500px;
  z-index: 10;
}

.box-real p {
  font-family: "Bree Serif", serif;
  font-size: 21px;
  line-height: 1.3;
  color: #293647;
}

.rules li {
  font-size: 18px;
  padding-top: 10px;
  
}
.rules i {
  color: #bb4120;
  
}

.circles span {
  display: block;
  width: 20px;
  height: 20px;
}

.circles span:nth-child(1) {
  background-color: #f15f5d;
}
.circles span:nth-child(2) {
  background-color: #febe2e;
}
.circles span:nth-child(3) {
  background-color: #4db748;
}

.logo {
  width: 40px;
}

